*{
    margin:0;
    padding:0;
}
header {
    
    background-image: url(Mainpagebg.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 799px;
    float: center;
}
.h{
	display: inline-block;
}
.h{

    float: right;
   list-style-type: none;
  margin-top: -30px;
   width: auto;
  height: 30pt;
  margin-left: 1450px;
  font-size: 40;
  font-family: 'Shadows Into Light';
  -webkit-text-stroke: 0.02px black;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
      position: absolute;
}
.h li{

 display: inline-block;

}
.h li a{
text-decoration: none;
color: #fff;
padding: 1px 3px;
border: 1px solid transparent;

}
.h li a:hover{

    background-color: pink;

    color: purple;

}

.h li.active a{

    background-color: rgb(192, 230, 255);
     color: rgb(128, 0, 11);
}
.animate-charcter
    {
       text-transform: uppercase;
      background-image: linear-gradient(
        -225deg,
        #230158 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
          font-size: 100px;
          font-family: 'Shadows Into Light', cursive;
          position: absolute;
        top: 45%;
        left: 48.5%;
        transform: translate(-50%,-50%);
        color: white;
    }
    @keyframes textclip {
        to {
          background-position: 200% center;
        }
      }
h1 {
	-webkit-text-stroke-width: 0.01px;
	-webkit-text-stroke-color: black;
}
.art{
	display: inline-block;
}
.art{
   float: right;
   list-style-type: none;
   margin-top: 350px;
   width: auto;
   height: 30pt;
   margin-left: 697px;
   font-size: 50;
   font-family: 'Shadows Into Light';
   -webkit-text-stroke: 0.02px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	   position: absolute;

}
.art li{

   display: inline-block;

}
.art li a{
   text-decoration: none;
   color: #fff;
   padding: 1px 3px;
   border: 1px solid transparent;

}
.art li a:hover{
    background-color: pink;
    color: purple;

}

.art li.active a{
    background-color: rgb(192, 230, 255);
    color: rgb(128, 0, 11);
}
.word{
    position: absolute;
    bottom: 50px; right: 50px;
    font-size: 45px;
    animation: morph 15s infinite ease-in-out;

}
.word:nth-child(1){
    animation-delay: -15s;
}
.word:nth-child(2){
    animation-delay: -11s;
}
.word:nth-child(3){
    animation-delay: -8s;
}
.word:nth-child(4){
    animation-delay: -4s;
}
.word:nth-child(5){
    animation-delay: -2s;
}
@keyframes morph{
    0%, 5%, 100%{
        filter: blur(0px);
        opacity: 1;
    }
    20%, 80%{
        filter: blur(35px);
        opacity: 0;
    }
}
